@{
    ViewData["Title"] = "Связный список (Linked List)";
}
<h1>@ViewData["Title"]</h1>

<div class="container">
    <div>
    <p>

    <p>
        <h3><span>Объяснение от <a href="https://www.youtube.com/CODEBLOG">CODE BLOG</a>:</span></h3>
    </p>
    <div style="align-content:center">
        <iframe class="rounded-md" width="1280" height="720" src="https://www.youtube.com/embed/hZYQmNJBsKM?list=PLIIXgDT0bKw4DB9toGU73ntyYIZV7aJi5" title="Связный список (linked list) - Структуры данных C#" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
</div>