@{
    ViewData["Title"] = "Структуры данных";
}
<h1>@ViewData["Title"]</h1>

<div>
    <p>
        Добро пожаловать на наш обучающий портал по программированию на языке C#! Сегодня мы рассмотрим фундаментальный аспект программирования – структуры данных. Структуры данных - это основные элементы, с помощью которых мы организуем и храним данные внутри программы.
        Структуры данных представляют собой способы организации и хранения информации в компьютере. Эффективный выбор структуры данных может значительно повысить производительность программы и сделать код более читаемым и управляемым.

        Структуры данных используются так или иначе в каждом проекте. Они позволяют упорядочивать, искать, анализировать и использовать данные с применением алгоритмов программирования. Для каждой структуры данных — свои алгоритмы.
    </p>
@*     <p>
        <h2>Big O в C# для структур данных</h2>

        <table>
            <tr>
                <th>Структура данных</th>
                <th>Вставка (Insert)</th>
                <th>Удаление (Delete)</th>
                <th>Поиск (Search)</th>
            </tr>
            <tr>
                <td>Массив (Array)</td>
                <td>O(n)</td>
                <td>O(n)</td>
                <td>O(n)</td>
            </tr>
            <tr>
                <td>Связанный список (Linked List)</td>
                <td>O(1)</td>
                <td>O(1)</td>
                <td>O(n)</td>
            </tr>
            <tr>
                <td>Стек (Stack)</td>
                <td>O(1)</td>
                <td>O(1)</td>
                <td>O(n)</td>
            </tr>
            <tr>
                <td>Очередь (Queue)</td>
                <td>O(1)</td>
                <td>O(1)</td>
                <td>O(n)</td>
            </tr>
            <tr>
                <td>Хэш-таблица (Hash Table)</td>
                <td>O(1)</td>
                <td>O(1)</td>
                <td>O(1)</td>
            </tr>
            <tr>
                <td>Двоичное дерево поиска (Binary Search Tree)</td>
                <td>O(log n)</td>
                <td>O(log n)</td>
                <td>O(log n)</td>
            </tr>
            <!-- Добавьте другие структуры данных при необходимости -->
        </table>

    </p> *@
</div>
