@{
    ViewData["Title"] = "Тестирование";
}

<h1>@ViewData["Title"]</h1>

<p><h4>Для прохождения тестирования и получения результатов нажмите на тему, по которой желаете пройти тест:</h4></p>
<div class="testing">
    <h5><a class="nav-link" asp-area="" asp-controller="Testing" asp-action="SortAlgorithms">Алгоритмы сортировки</a></h5>
</div>
<div class="testing">
    <h5><a class="nav-link" asp-area="" asp-controller="Testing" asp-action="BubbleSort">Сортировка пузырьком (Bubble Sort)</a></h5>
</div>
<div class="testing">
    <h5><a class="nav-link" asp-area="" asp-controller="Testing" asp-action="CocktailSort">Шейкерная сортировка (Cocktail Sort)</a></h5>
</div>
<div class="testing">
    <h5><a class="nav-link" asp-area="" asp-controller="Testing" asp-action="InsertionSort">Сортировка вставками (Insertion Sort)</a></h5>
</div>
@* <div class="testing">
    <h5><a class="nav-link" asp-area="" asp-controller="Testing" asp-action="BubbleSort">Сортировка пузырьком (Bubble Sort)</a></h5>
</div>
<div class="testing">
    <h5><a class="nav-link" asp-area="" asp-controller="Testing" asp-action="BubbleSort">Сортировка пузырьком (Bubble Sort)</a></h5>
</div>
<div class="testing">
    <h5><a class="nav-link" asp-area="" asp-controller="Testing" asp-action="BubbleSort">Сортировка пузырьком (Bubble Sort)</a></h5>
</div> *@

