@{
    ViewData["Title"] = "Тестирование";
}

<h1>@ViewData["Title"]</h1>

    <p>Для прохождения тестирования нажмите на тему, по которой желаете пройти тест:</p>
    <a class="nav-link" asp-area="" asp-controller="Testing" asp-action="SortAlgorithms">Алгоритмы сортировки</a>
<a class="nav-link" asp-area="" asp-controller="Testing" asp-action="BubbleSort">Сортировка пузырьком (Bubble Sort)</a>
