@{
    ViewData["Title"] = "Алгоритмы сортировки";
}

<h1>@ViewData["Title"]</h1>

<div>
    <form method="post">
        <fieldset class="form-group">
            <div class="question">
                <legend class="mt-4">1. Что представляют собой алгоритмы?</legend>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question1" id="optionsRadios1">
                    <label class="form-check-label" for="optionsRadios1">
                        Программы на C#
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question1" id="optionsRadios2" value="correct">
                    <label class="form-check-label" for="optionsRadios2">
                        Процессы или наборы инструкций, решающих задачу
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question1" id="optionsRadios3">
                    <label class="form-check-label" for="optionsRadios3">
                        Сложные математические формулы
                    </label>
                </div>
            </div>

            <div class="question">
                <legend class="mt-4">2. На каком языке программирования рассматриваются алгоритмы в данном разделе?</legend>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question2" id="optionsRadios1">
                    <label class="form-check-label" for="optionsRadios1">
                        Python
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question2" id="optionsRadios2">
                    <label class="form-check-label" for="optionsRadios2">
                        JavaScript
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question2" id="optionsRadios3" value="correct">
                    <label class="form-check-label" for="optionsRadios3">
                        C#
                    </label>
                </div>
            </div>

            <div class="question">
                <legend class="mt-4">3. Что такое алгоритмы сортировки?</legend>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question3" id="optionsRadios1">
                    <label class="form-check-label" for="optionsRadios1">
                        Массивы данных
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question3" id="optionsRadios2">
                    <label class="form-check-label" for="optionsRadios2">
                        Циклы в программировании
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question3" id="optionsRadios3" value="correct">
                    <label class="form-check-label" for="optionsRadios3">
                        Набор инструкций для упорядочивания элементов входных данных
                    </label>
                </div>
            </div>

            <div class="question">
                <legend class="mt-4">4. В каком порядке чаще всего осуществляется сортировка?</legend>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question4" id="optionsRadios1" value="correct">
                    <label class="form-check-label" for="optionsRadios1">
                        По возрастанию (AZ, 0–9)
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question4" id="optionsRadios2">
                    <label class="form-check-label" for="optionsRadios2">
                        По убыванию (ZA, 9–0)
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question4" id="optionsRadios3">
                    <label class="form-check-label" for="optionsRadios3">
                        Случайный порядок
                    </label>
                </div>
            </div>

            <div class="question">
                <legend class="mt-4">5. Почему алгоритмы сортировки важны?</legend>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question5" id="optionsRadios1">
                    <label class="form-check-label" for="optionsRadios1">
                        Они делают код более красивым
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question5" id="optionsRadios2">
                    <label class="form-check-label" for="optionsRadios2">
                        Они обязательны в каждом проекте
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question5" id="optionsRadios3" value="correct">
                    <label class="form-check-label" for="optionsRadios3">
                        Они снижают сложность проблемы и имеют применение во многих областях информатики
                    </label>
                </div>
            </div>

            <div class="question">
                <legend class="mt-4">6. Какой алгоритм может быть предпочтителен для небольших объемов данных?</legend>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question6" id="optionsRadios1">
                    <label class="form-check-label" for="optionsRadios1">
                        Быстрая сортировка
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question6" id="optionsRadios2" value="correct">
                    <label class="form-check-label" for="optionsRadios2">
                        Сортировка вставкой
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question6" id="optionsRadios3">
                    <label class="form-check-label" for="optionsRadios3">
                        Сортировка слиянием
                    </label>
                </div>
            </div>

            <div class="question">
                <legend class="mt-4">7. Какие алгоритмы эффективнее для крупных наборов данных?</legend>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question7" id="optionsRadios1">
                    <label class="form-check-label" for="optionsRadios1">
                        Сортировка пузырьком
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question7" id="optionsRadios2">
                    <label class="form-check-label" for="optionsRadios2">
                        Сортировка вставкой
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question7" id="optionsRadios3" value="correct">
                    <label class="form-check-label" for="optionsRadios3">
                        Быстрая сортировка
                    </label>
                </div>
            </div>

            <div class="question">
                <legend class="mt-4">8. На что следует обращать внимание при ограниченных ресурсах памяти?</legend>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question8" id="optionsRadios1">
                    <label class="form-check-label" for="optionsRadios1">
                        Количество циклов в алгоритме
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question8" id="optionsRadios2" value="correct">
                    <label class="form-check-label" for="optionsRadios2">
                        Алгоритмы, требующие много дополнительной памяти
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question8" id="optionsRadios3">
                    <label class="form-check-label" for="optionsRadios3">
                        Отсутствие циклов в алгоритме
                    </label>
                </div>
            </div>

            <div class="question">
                <legend class="mt-4">9. Какие алгоритмы сохраняют относительный порядок элементов с одинаковыми значениями?</legend>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question9" id="optionsRadios1">
                    <label class="form-check-label" for="optionsRadios1">
                        Сортировка пузырьком
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question9" id="optionsRadios2" value="correct">
                    <label class="form-check-label" for="optionsRadios2">
                        Сортировка слиянием
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question9" id="optionsRadios3">
                    <label class="form-check-label" for="optionsRadios3">
                        Сортировка вставкой
                    </label>
                </div>
            </div>

            <div class="question">
                <legend class="mt-4">10. Какие алгоритмы лучше справляются с частыми изменениями в коллекции?</legend>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question10" id="optionsRadios1">
                    <label class="form-check-label" for="optionsRadios1">
                        Сортировка слиянием
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question10" id="optionsRadios2">
                    <label class="form-check-label" for="optionsRadios2">
                        Сортировка пузырьком
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question10" id="optionsRadios3" value="correct">
                    <label class="form-check-label" for="optionsRadios3">
                        Сортировка вставкой
                    </label>
                </div>
            </div>

            <div class="question">
                <legend class="mt-4">11. Что измеряет термин Big O в алгоритмах?</legend>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question11" id="optionsRadios1">
                    <label class="form-check-label" for="optionsRadios1">
                        Сложность алгоритма в среднем случае
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question11" id="optionsRadios2">
                    <label class="form-check-label" for="optionsRadios2">
                        Нижняя граница временной сложности
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question11" id="optionsRadios3" value="correct">
                    <label class="form-check-label" for="optionsRadios3">
                        Верхняя граница временной сложности
                    </label>
                </div>
            </div>

            <div class="question">
                <legend class="mt-4">12. Что означает O(1) в Big O?</legend>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question12" id="optionsRadios1">
                    <label class="form-check-label" for="optionsRadios1">
                        Временная сложность зависит от логарифма размера входных данных
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question12" id="optionsRadios2" value="correct">
                    <label class="form-check-label" for="optionsRadios2">
                        Временная сложность постоянна и не зависит от размера входных данных
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question12" id="optionsRadios3">
                    <label class="form-check-label" for="optionsRadios3">
                        Временная сложность линейна
                    </label>
                </div>
            </div>

            <div class="question">
                <legend class="mt-4">13. Что означает O(log n) в Big O?</legend>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question13" id="optionsRadios1">
                    <label class="form-check-label" for="optionsRadios1">
                        Временная сложность зависит от квадрата размера входных данных
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question13" id="optionsRadios2">
                    <label class="form-check-label" for="optionsRadios2">
                        Временная сложность растет линейно с размером входных данных
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question13" id="optionsRadios3" value="correct">
                    <label class="form-check-label" for="optionsRadios3">
                        Логарифмическая временная сложность, растущая медленно с увеличением размера входных данных
                    </label>
                </div>
            </div>

            <div class="question">
                <legend class="mt-4">14. Что означает O(n) в Big O?</legend>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question14" id="optionsRadios1">
                    <label class="form-check-label" for="optionsRadios1">
                        Временная сложность зависит от линейной функции размера входных данных
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question14" id="optionsRadios2" value="correct">
                    <label class="form-check-label" for="optionsRadios2">
                        Временная сложность постоянна и не зависит от размера входных данных
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question14" id="optionsRadios3">
                    <label class="form-check-label" for="optionsRadios3">
                        Временная сложность квадратичная
                    </label>
                </div>
            </div>

            <div class="question">
                <legend class="mt-4">15. Что означает O(n log n) в Big O?</legend>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question15" id="optionsRadios1">
                    <label class="form-check-label" for="optionsRadios1">
                        Временная сложность кубическая
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question15" id="optionsRadios2" value="correct">
                    <label class="form-check-label" for="optionsRadios2">
                        Линейно-логарифмическая временная сложность
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question15" id="optionsRadios3">
                    <label class="form-check-label" for="optionsRadios3">
                        Временная сложность логарифмическая
                    </label>
                </div>
            </div>

            <div class="question">
                <legend class="mt-4">16. Что означает O(n^2) в Big O?</legend>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question16" id="optionsRadios1" value="correct">
                    <label class="form-check-label" for="optionsRadios1">
                        Временная сложность зависит от квадрата размера входных данных
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question16" id="optionsRadios2">
                    <label class="form-check-label" for="optionsRadios2">
                        Временная сложность линейная
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question16" id="optionsRadios3">
                    <label class="form-check-label" for="optionsRadios3">
                        Временная сложность логарифмическая
                    </label>
                </div>
            </div>

            <div class="question">
                <legend class="mt-4">17. Что означает O(n^3) в Big O?</legend>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question17" id="optionsRadios1" value="correct">
                    <label class="form-check-label" for="optionsRadios1">
                        Временная сложность зависит от размера входных данных в кубе
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question17" id="optionsRadios2">
                    <label class="form-check-label" for="optionsRadios2">
                        Временная сложность линейная
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question17" id="optionsRadios3">
                    <label class="form-check-label" for="optionsRadios3">
                        Линейно-логарифмическая временная сложность
                    </label>
                </div>
            </div>

            <div class="question">
                <legend class="mt-4">18. Что означает O(n!) в Big O?</legend>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question18" id="optionsRadios1" value="correct">
                    <label class="form-check-label" for="optionsRadios1">
                        Временная сложность зависит от факториала размера входных данных
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question18" id="optionsRadios2">
                    <label class="form-check-label" for="optionsRadios2">
                        Временная сложность линейная
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question18" id="optionsRadios3">
                    <label class="form-check-label" for="optionsRadios3">
                        Временная сложность логарифмическая
                    </label>
                </div>
            </div>

            <div class="question">
                <legend class="mt-4">19. Какой алгоритм сортировки имеет наихудший случай O(n^2)?</legend>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question19" id="optionsRadios1">
                    <label class="form-check-label" for="optionsRadios1">
                        Сортировка слиянием
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question19" id="optionsRadios2" value="correct">
                    <label class="form-check-label" for="optionsRadios2">
                        Сортировка пузырьком
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question19" id="optionsRadios3">
                    <label class="form-check-label" for="optionsRadios3">
                        Быстрая сортировка
                    </label>
                </div>
            </div>

            <div class="question">
                <legend class="mt-4">20. Что такое алгоритм сортировки "подсчетом"?</legend>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question20" id="optionsRadios1">
                    <label class="form-check-label" for="optionsRadios1">
                        Сортировка массива чисел от большего к меньшему
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question20" id="optionsRadios2" value="correct">
                    <label class="form-check-label" for="optionsRadios2">
                        Сортировка, основанная на подсчете количества элементов с определенным значением
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question20" id="optionsRadios3">
                    <label class="form-check-label" for="optionsRadios3">
                        Сортировка по алфавиту
                    </label>
                </div>
            </div>

            <input type="hidden" id="resultTest" name="resultTest" value="false">
            <input type="hidden" id="correctAnswers" name="correctAnswers" value="" />
            <input type="hidden" id="resultsMessage" name="resultsMessage" value="" />
            <input type="hidden" id="totalQuestions" name="totalQuestions" value="" />

            <br />
            <div style="text-align: center;">
                <button type="submit" class="btn btn-lg btn-light" style="margin-bottom: 15px" onclick="calculateResults()">Проверить результат</button>
            </div>

        </fieldset>
    </form>
</div>

<script>
    function calculateResults() {
        // Инициализация счетчиков
        var correctAnswers = 0;
        var resultTest;
        // Получение всех элементов с классом "question"
        var questions = document.getElementsByClassName("question");
        // Перебор всех вопросов
        for (var i = 0; i < questions.length; i++) {
            var question = questions[i];
            // Получение ответа пользователя
            var userAnswer = question.querySelector("input:checked");
            // Получение правильного ответа
            var correctAnswer = question.querySelector("input[value=\"correct\"]");
            // Проверка, выбран ли ответ пользователем
            if (userAnswer !== null) {
                // Проверка выбранного ответа на правильность
                if (userAnswer === correctAnswer) {
                    correctAnswers++;
                }
            }
        }

        if (questions.length === correctAnswers) {
            resultTest = true;
            resultsMessage = "Тест пройден успешно";
        } else {
            resultTest = false;
            resultsMessage = "К сожалению, вы не прошли тест, прочитайте теорию и снова вернитесь к тесту";
        }

        // Установка значения resultTest в скрытое поле формы
        document.getElementById("resultTest").value = resultTest;
        document.getElementById("correctAnswers").value = correctAnswers;
        document.getElementById("resultsMessage").value = resultsMessage;
        document.getElementById("totalQuestions").value = questions.length;
    }
</script>



