* {
    font-family: 'Oswald', sans-serif;
}

html {
    font-size: 18px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

header {
    color: black;
    font-weight: bold;
    text-transform: uppercase;
}

h1 {
    text-align: center;
    margin-bottom: 2%;
    text-transform: uppercase;
}

h2 {
}

h3 {
    text-align: center;
    margin-bottom: 2%;
}

h4 {
    text-align: center;
    margin-bottom: 2%;
}

h5 {
    color: coral;
}

    h5:hover {
        color: darksalmon;
    }

h6 {
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
    margin-bottom: 60px;
    font-size: 18px;
}

span {
    color: coral;
}

a {
    color: coral;
}

    a:hover {
        color: darksalmon;
    }

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid coral;
    text-align: center;
    padding: 8px;
}

th {
    background-color: black;
}

.testing {
    color: coral;
}

    .testing:hover {
        color: darksalmon;
    }



/* ќбновленные стили дл€ различных элементов €зыка C# */

.code {
    color: snow;
}

.keyword {
    color: #569cd6; /* ÷вет ключевых слов */
}

.comment {
    color: #6a9955; /* ÷вет комментариев */
}

.string {
    color: #d69d85; /* ÷вет строк */
}

.number {
    color: #b5cea8; /* ÷вет чисел */
}

.punctuation {
    color: #ce9178; /* ÷вет знаков пунктуации */
}

.class {
    color: #569cd6; /* ÷вет названи€ классов */
}

.method-name {
    color: #dcdcaa; /* ÷вет названи€ методов */
}

.variable {
    color: #9cdcfe; /* ÷вет переменных */
}

.parameter {
    color: #9cdaaf; /* ÷вет параметров методов */
}

.code-editor {
    max-width: 3000px;
    background-color: #1d1e22;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    padding: 2px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.title {
    font-family: Lato, sans-serif;
    font-weight: 900;
    font-size: 14px;
    letter-spacing: 1.57px;
    color: rgb(212 212 212);
}

.icon {
    width: 20px;
    transition: .2s ease;
}

    .icon:hover {
        cursor: pointer;
        border-radius: 50px;
        background-color: #6e7281;
    }

.editor-content {
    margin: 0 10px 10px;
    color: snow;
}
