@{
    ViewData["Title"] = "Сортировка пузырьком (Bubble Sort)";
}
<h1>@ViewData["Title"]</h1>

<div class="container">
    <p>
        Сортировка пузырьком (Bubble Sort) - это один из простых алгоритмов сортировки, который многие изучают на ранних этапах обучения программированию. Этот алгоритм получил свое название из-за того, что более крупные элементы "всплывают" в конец массива, как пузырек воды всплывает на поверхность.
    </p>
    <p>
        Основная идея сортировки пузырьком заключается в многократном проходе по массиву. На каждом проходе сравниваются два соседних элемента, и если они находятся в неправильном порядке, они меняются местами. Этот процесс повторяется до тех пор, пока не будет достигнут правильный порядок всех элементов. Другими словами принцип работы заключается в том, что последовательно сравниваются два рядом стоящих элемента, и если левый больше правого, то они меняются местами, после чего сравниваются следующие элементы. И так повторяется до тех пор, пока все элементы не будут упорядочены.
    </p>
    <p>
        Производительность сортировки пузырьком неоптимальна для больших массивов, так как ее временная сложность составляет O(n^2). Однако, из-за своей простоты и понятности, она может быть использована в учебных или простых сценариях, где размер данных невелик. В реальных приложениях часто предпочитают более эффективные алгоритмы сортировки, такие как QuickSort или MergeSort.
    </p>
    <p>
        <h3><span>Как работает сортировка пузырьком</span></h3>
    <p>
        <span>Проходы:</span>
    </p>
    <p>
        Алгоритм проходит по массиву многократно.
        На каждом проходе сравниваются два соседних элемента, начиная с начала массива.
    </p>
    <br />
    <p>
        <span>Сравнение и обмен:</span>
    </p>
    <p>
        Если текущий элемент больше следующего, то они меняются местами.
        Таким образом, более крупные элементы "всплывают" в конец массива, а меньшие элементы "опускаются" вниз.
    </p>
    <br />
    <p>
        <span>Постепенная сортировка:</span>
    </p>
    <p>
        После первого прохода наибольший элемент находится в конце массива.
        После второго прохода следующий по величине элемент занимает предпоследнее место, и так далее.
        Процесс продолжается до тех пор, пока массив полностью не будет отсортирован.
    </p>
    <h3><span>Преимущества и недостатки</span></h3>

    <p>
        <span>Преимущества:</span>
    </p>
    <p>
        1. Прост в реализации и понимании.
    </p>
    <p>
        2. Не требует дополнительной памяти, так как сортировка выполняется "на месте".
    </p>
    <br/>
    <p>
        <span>Недостатки:</span>
    </p>
    <p>
        1. Низкая производительность для больших массивов из-за временной сложности O(n^2).
    </p>
    <p>
        2. Неэффективен в сценариях, где требуется высокая производительность сортировки.
    </p>
    <p>
        <h3><span>Пример сортировки пузырьком на C#:</span></h3>
    </p>
    @* упростить код не забудь!*@
<pre>
<code>
    public class BubbleSort
{
    public static void Main()
    {
        int[] arrayToSort = { 64, 34, 25, 12, 22, 11, 90 };

        Console.WriteLine("Original array: " + string.Join(", ", arrayToSort));

        // Вызываем метод сортировки
        PerformBubbleSort(arrayToSort);

        Console.WriteLine("Sorted array: " + string.Join(", ", arrayToSort));
    }

    public static void PerformBubbleSort(int[] arr)
    {
        int n = arr.Length;
        for (int i = 0; i < n - 1; i++)
        {
            for (int j = 0; j < n - 1 - i; j++)
            {
                // Сравниваем соседние элементы
                if (arr[j] > arr[j + 1])
                {
                    // Меняем их местами, если они находятся в неправильном порядке
                    int temp = arr[j];
                    arr[j] = arr[j + 1];
                    arr[j + 1] = temp;
                }
            }
        }
    }
}

</code>
</pre>

    <p>
        <h3><span>Визуализация сортировки:</span></h3>
    </p>

    <div style="align-content:center">
        <iframe width="1280" height="720" src="https://www.youtube.com/embed/Cq7SMsQBEUw" title="Bubble Sort" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>

    <p>
        <h3><span>Объяснение от <a href="https://www.youtube.com/CODEBLOG">CODE BLOG</a>:</span></h3>
    </p>
    <div style="align-content:center">
        <iframe width="1280" height="720" src="https://www.youtube.com/embed/PD1Nn4fHcts?list=PLIIXgDT0bKw4n6pwBjymd3wCPyQ3_SLMo" title="Сортировка пузырьком (bubble sort) - Алгоритмы C#" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
</div>




