@{
    ViewData["Title"] = "Шейкерная сортировка (Cocktail Sort)";
}
<h1>@ViewData["Title"]</h1>

<div class="container">
    <p>
        Шейкерная сортировка (Cocktail Sort), также известная как сортировка перемешиванием, представляет собой улучшенный вариант сортировки пузырьком. Этот алгоритм получил свое название из-за движения элементов, напоминающего перемешивание коктейля. В отличие от сортировки пузырьком, Cocktail Sort движется в обе стороны по массиву, обмениваясь местами соседними элементами, чтобы как более крупные, так и более мелкие элементы всплывали и опускались.
    </p>
    <p>
        Основная идея сортировки перемешиванием заключается в многократном проходе по массиву в обе стороны. На каждом проходе сравниваются два соседних элемента, и если они находятся в неправильном порядке, они меняются местами. Этот процесс повторяется до тех пор, пока не будет достигнут правильный порядок всех элементов. Подобно сортировке пузырьком, Cocktail Sort используется для упорядочивания элементов в массиве.
    </p>
    <p>
        Производительность Cocktail Sort также неоптимальна для больших массивов из-за временной сложности O(n^2). Однако, из-за своего улучшенного механизма движения по массиву, он может быть чуть более эффективным, чем сортировка пузырьком.
    </p>
    <p>
        <h3><span>Как работает сортировка перемешиванием</span></h3>
    </p>
    <p>
        <span>Проходы вперед:</span>
    </p>
    <p>
        Алгоритм начинает проход от начала массива, обмениваясь местами соседними элементами, если они находятся в неправильном порядке.
    </p>
    <br />
    <p>
        <span>Проходы назад:</span>
    </p>
    <p>
        После завершения прохода вперед, алгоритм начинает проход в обратном направлении, обмениваясь местами элементами, если они находятся в неправильном порядке.
    </p>
    <br />
    <p>
        <span>Постепенная сортировка:</span>
    </p>
    <p>
        Процесс продолжается вперед и назад, пока массив полностью не будет отсортирован.
    </p>
    <h3><span>Преимущества и недостатки</span></h3>
    <p>
        <span>Преимущества:</span>
    </p>
    <p>
        1. Улучшенный механизм движения может быть более эффективным, чем сортировка пузырьком.
    </p>
    <p>
        2. Не требует дополнительной памяти, так как сортировка выполняется "на месте".
    </p>
    <br />
    <p>
        <span>Недостатки:</span>
    </p>
    <p>
        1. Низкая производительность для больших массивов из-за временной сложности O(n^2).
    </p>
    <p>
        2. Не является самым эффективным алгоритмом сортировки.
    </p>
    <p>
        <h3><span>Пример сортировки перемешиванием на C#:</span></h3>
    </p>
    @* упростить код не забудь!*@
<pre>
<code>
    public class CocktailSort
{
    public static void Main()
    {
        int[] arrayToSort = { 64, 34, 25, 12, 22, 11, 90 };

        Console.WriteLine("Original array: " + string.Join(", ", arrayToSort));

        // Вызываем метод сортировки
        PerformCocktailSort(arrayToSort);

        Console.WriteLine("Sorted array: " + string.Join(", ", arrayToSort));
    }

    public static void PerformCocktailSort(int[] arr)
    {
        bool swapped;
        do
        {
            swapped = false;

            // Проход вперед
            for (int i = 0; i < arr.Length - 1; i++)
            {
                if (arr[i] > arr[i + 1])
                {
                    Swap(ref arr[i], ref arr[i + 1]);
                    swapped = true;
                }
            }

            // Проход назад
            for (int i = arr.Length - 1; i > 0; i--)
            {
                if (arr[i] < arr[i - 1])
                {
                    Swap(ref arr[i], ref arr[i - 1]);
                    swapped = true;
                }
            }
        } while (swapped);
    }

    public static void Swap(ref int a, ref int b)
    {
        int temp = a;
        a = b;
        b = temp;
    }
}
</code>
</pre>

    <p>
        <h3><span>Визуализация сортировки:</span></h3>
    </p>

    <div style="align-content:center">
        <iframe width="1280" height="720" src="https://www.youtube.com/embed/njClLBoEbfI?list=PLZh3kxyHrVp_AcOanN_jpuQbcMVdXbqei" title="Cocktail Shaker Sort" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>

    <p>
        <h3><span>Объяснение от <a href="https://www.youtube.com/CODEBLOG">CODE BLOG</a>:</span></h3>
    </p>
    <div style="align-content:center">
        <iframe width="1280" height="720" src="https://www.youtube.com/embed/PoWhE3N4Vr8?list=PLIIXgDT0bKw4n6pwBjymd3wCPyQ3_SLMo" title="Шейкерная сортировка (cocktail sort) - Алгоритмы C#" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
</div>
