@{
    ViewData["Title"] = "Алгоритмы сортировки";
}
<h1>@ViewData["Title"]</h1>

<div class="container">
    <p>
        <span>Алгоритмы представляют собой процессы или наборы инструкций, которые решают определенную задачу.</span>
        В этом разделе мы рассмотрим различные алгоритмы с использованием языка программирования C#. Будем исследовать их основные принципы, реализацию и применение.
    </p>

    <p>
        <h3><span>Определение</span></h3>
    </p>
    <p>
        <span>Алгоритмы сортировки — это набор инструкций, которые принимают массив или список в качестве входных данных и упорядочивают элементы в определенном порядке.</span>
        Сортировка чаще всего осуществляется в числовом или алфавитном (или лексикографическом) порядке и может осуществляться по возрастанию (AZ, 0–9) или по убыванию (ZA, 9–0).
    </p>
    <h3><span>Почему алгоритмы сортировки важны</span></h3>
    <p>
        Поскольку алгоритмы сортировки часто могут снизить сложность проблемы, они очень важны в информатике. Эти алгоритмы имеют прямое применение в алгоритмах поиска, алгоритмах баз данных, методах «разделяй и властвуй», алгоритмах структур данных и многом другом.
        Вы готовы к погружению в алгоритмические просторы? Тогда давайте начнем!
    </p>

    <p>
        <h3><span>Компромиссы алгоритмов сортировки</span></h3>
    </p>
    <p>
        При выборе подходящего алгоритма сортировки для вашей задачи важно учитывать различные факторы. Давайте рассмотрим несколько вопросов, которые помогут вам сделать правильный выбор:
    </p>

    <h4>Размер коллекции</h4>
    <h5>Маленькие коллекции:</h5>
    <p>
        Для небольших объемов данных, простые алгоритмы сортировки, такие как сортировка вставкой, могут быть предпочтительными. Они не требуют много ресурсов и обеспечивают относительно хорошую производительность.
    </p>
    <h5>Большие коллекции:</h5>
    <p>
        Для крупных наборов данных, алгоритмы с более низкой временной сложностью, такие как быстрая сортировка (O(n log n)), могут быть более эффективными.
    </p>
    <h4>Доступная память</h4>
    <h5>Ограниченные ресурсы:</h5>
    <p>
        Если у вас ограниченные ресурсы памяти, стоит обратить внимание на алгоритмы сортировки, которые не требуют большого объема дополнительной памяти. Например, сортировка слиянием может потребовать дополнительного места, в то время как быстрая сортировка обычно работает "на месте".
    </p>
    <h4>Необходимость изменения коллекции</h4>
    <h5>Неизменяемые коллекции:</h5>
    <p>
        Если вам важно сохранить неизменным исходный порядок элементов, выбирайте алгоритмы, которые сохраняют относительный порядок элементов с одинаковыми значениями. Сортировка слиянием хорошо подходит для этого.
    </p>
    <h5>Изменяемые коллекции:</h5>
    <p>
        Если вам нужно часто добавлять или удалять элементы, обратите внимание на алгоритмы сортировки, которые лучше справляются с частыми изменениями, такие как сортировка вставкой.
        Выбор подходящего алгоритма сортировки зависит от вашей конкретной задачи и требований. И помните, каждый алгоритм имеет свои компромиссы, поэтому важно адаптировать их под конкретные условия вашего проекта.
    </p>

    <p>
        <h3><span>Big O</span></h3>
        <span>Big O - это термин, используемый для оценки верхней границы (наихудшего случая), временной сложности алгоритма.</span>
        Простыми словами Big O показывает, как будет меняться производительность алгоритма с зависимости от роста входящих данных.
        Если мы будем увеличивать количество входящих данных, то у нас может расти количество операций и время, за которое выполнится алгоритм. Также может расти количество памяти, используемой данным алгоритмом для обработки входного объема данных. Big O будет показывать скорость роста времени исполнения алгоритма.
    </p>

    <p>
        <h3><span>Примеры сложностей Big O:</span></h3>
    </p>
    <p>
        <span>O(1): Константная сложность.</span> Время выполнения алгоритма не зависит от размера входных данных. Например, доступ к элементу массива по индексу.
    </p>
    <p>
        <span>O(log n): Логарифмическая сложность.</span> Время выполнения алгоритма растет медленно с увеличением размера входных данных. Например, бинарный поиск в отсортированном массиве.
        Простейший пример — бинарный поиск. Если массив отсортирован, мы можем проверить, есть ли в нём какое-то конкретное значение, методом деления пополам.
        Проверим средний элемент, если он больше искомого, то отбросим вторую половину массива — там его точно нет. Если же меньше, то наоборот — отбросим начальную половину.
        И так будем продолжать делить пополам, в итоге проверим log n элементов.
    </p>
    <p>
        <span>O(n): Линейная сложность.</span> Время выполнения алгоритма пропорционально размеру входных данных. Например, просмотр всех элементов в массиве,
        или же алгоритм поиска наибольшего элемента в неотсортированном массиве. Нам придётся пройтись по всем n элементам массива, чтобы понять, какой из них максимальный.
    </p>
    <p>
        <span>O(n log n): Линейно-логарифмическая сложность.</span> Время выполнения алгоритма растет быстрее, чем линейно, но медленнее, чем квадратично. Например, сортировка слиянием (merge sort).
    </p>
    <p>
        <span>O(n^2): Квадратичная сложность.</span> Время выполнения алгоритма зависит от квадрата размера входных данных. Например, сортировка пузырьком (bubble sort).
    </p>
    <p>
        <span>O(n^3): Кубическая сложность.</span> Время выполнения алгоритма зависит от размера входных данных в кубе. Например, алгоритмы, которые имеют три вложенных цикла, такие как некоторые методы многомерной обработки данных.
    </p>
    <p>
        <span>O(n!): Факториальная сложность.</span> Это самая высокая степень роста времени выполнения алгоритма. Время выполнения алгоритма растет факториально от размера входных данных. Этот тип сложности встречается, например, при переборе всех возможных комбинаций элементов, что делает его чрезвычайно неэффективным для больших значений n.
    </p>

    <p>
        <h3><span>Big O для алгоритмов сортировки</span></h3>
    </p>
    <div style="border-collapse: collapse; width: 100%;">
        <table>
            <tr>
                <th>Алгоритм</th>
                <th>Наилучший случай</th>
                <th>Средний случай</th>
                <th>Наихудший случай</th>
            </tr>
            <tr>
                <td>Bubble Sort</td>
                <td>O(n)</td>
                <td>O(n^2)</td>
                <td>O(n^2)</td>
            </tr>
            <tr>
                <td>Coctail Sort</td>
                <td>O(n)</td>
                <td>O(n^2)</td>
                <td>O(n^2)</td>
            </tr>
            <tr>
                <td>Insertion Sort</td>
                <td>O(n)</td>
                <td>O(n^2)</td>
                <td>O(n^2)</td>
            </tr>
            <tr>
                <td>Shell Sort</td>
                <td>O(n log n)</td>
                <td>O(n log^2 n)</td>
                <td>O(n log^2 n)</td>
            </tr>
            <tr>
                <td>Tree Sort</td>
                <td>O(n log n)</td>
                <td>O(n log n)</td>
                <td>O(n^2)</td>
            </tr>
            <tr>
                <td>Heap Sort</td>
                <td>O(n log n)</td>
                <td>O(n log n)</td>
                <td>O(n log n)</td>
            </tr>
            <tr>
                <td>Selection Sort</td>
                <td>O(n^2)</td>
                <td>O(n^2)</td>
                <td>O(n^2)</td>
            </tr>
            <tr>
                <td>Gnome Sort</td>
                <td>O(n^2)</td>
                <td>O(n^2)</td>
                <td>O(n^2)</td>
            </tr>
            <tr>
                <td>Radix Sort</td>
                <td>O(nk)</td>
                <td>O(nk)</td>
                <td>O(nk)</td>
            </tr>
            <tr>
                <td>Merge Sort</td>
                <td>O(n log n)</td>
                <td>O(n log n)</td>
                <td>O(n log n)</td>
            </tr>
            <tr>
                <td>Quick Sort</td>
                <td>O(n log n)</td>
                <td>O(n log n)</td>
                <td>O(n^2)</td>
            </tr>
        </table>
    </div>
</div>