@{
    ViewData["Title"] = "Результаты";
}
<h1>@ViewData["Title"]</h1>

<p>
    <h3><span>Результаты теста</span></h3>
</p>
<div>
    <p>@ViewBag.ResultsMessage</p>
    <p>Верных ответов: @ViewBag.CorrectAnswers</p>
    <p>Всего вопросов: @ViewBag.TotalQuestions</p>
</div>