@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="margin-top: 230px">Welcome</h1>
    <p>C.Reshetka — представляет из себя обучающий материал по теме алгоритмов и структур данных на примере C#.</p>
</div>
