@{
    ViewData["Title"] = "Home Page";
}

<div class="code-editor">
  <div class="editor-content">
    <code class="code">
      <pre><code class="language-csharp">
        <span class="keyword">public</span> <span class="class">class</span> <span class="class-name">BubbleSort</span>
        {
            <span class="method">public static void</span> <span class="method-name">Main</span>()
            {
                <span class="variable">int</span>[] <span class="variable">arrayToSort</span> = { <span class="number">64</span>, <span class="number">34</span>, <span class="number">25</span>, <span class="number">12</span>, <span class="number">22</span>, <span class="number">11</span>, <span class="number">90</span> };
                <span class="class-name">Console</span>.<span class="method-name">WriteLine</span>(<span class="string">"Original array: "</span> + <span class="class-name">string</span>.<span class="method-name">Join</span>((<span class="string">", "</span>, <span class="variable">arrayToSort</span>));
                <span class="comment">// Вызываем метод сортировки</span>
                <span class="method-name">PerformBubbleSort</span>(<span class="variable">arrayToSort</span>);
                <span class="class-name">Console</span>.<span class="method-name">WriteLine</span>((<span class="string">"Sorted array: "</span> + <span class="class-name">string</span>.<span class="method-name">Join</span>((<span class="string">", "</span>, <span class="variable">arrayToSort</span>));
            }

            <span class="comment">// Это метод PerformBubbleSort</span>
            <span class="method">public static void</span> <span class="method-name">PerformBubbleSort</span>(<span class="variable">int</span>[] <span class="variable">arr</span>)
            {
                <span class="variable">int</span> <span class="variable">n</span> = <span class="variable">arr.Length</span>;
                <span class="keyword">for</span> (<span class="variable">int</span> <span class="variable">i</span> = <span class="number">0</span>; <span class="variable">i</span> &lt; <span class="variable">n</span> - <span class="number">1</span>; <span class="variable">i</span>++)
                {
                    <span class="keyword">for</span> (<span class="variable">int</span> <span class="variable">j</span> = <span class="number">0</span>; <span class="variable">j</span> &lt; <span class="variable">n</span> - <span class="number">1</span> - <span class="variable">i</span>; <span class="variable">j</span>++)
                    {
                        <span class="comment">// Сравниваем соседние элементы</span>
                        <span class="keyword">if</span> (<span class="variable">arr[j]</span> &gt; <span class="variable">arr[j + <span class="number">1</span>]</span>)
                        {
                            <span class="comment">// Меняем их местами, если они находятся в неправильном порядке</span>
                            <span class="variable">int</span> <span class="variable">temp</span> = <span class="variable">arr[j]</span>;
                            <span class="variable">arr[j]</span> = <span class="variable">arr[j + <span class="number">1</span>]</span>;
                            <span class="variable">arr[j + <span class="number">1</span>]</span> = <span class="variable">temp</span>;
                        }
                    }
                }
            }
        }
      </code></pre>
    </code>
  </div>
</div>
